{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Post #{{ id }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <blockquote>{{ description }}</blockquote>
  {% if kind == "image" %}
    <img src="/proxy/img/{{id}}" width="500px">
  {% else %}
    <video controls="controls" src="/proxy/img/{{id}}" width="500px" loop></video>
  {% endif %}
  <br/>
  <p>Tags:</p>
  <ul>
    {% for tag in post_tags_general %}
      <li>{{tag}}</li>
    {% endfor %}
  </ul>
  <br/>
  <p><a href="{{baseurl}}/posts/{{id}}">View original on  {{baseurl}}</a></p>
{% endblock %}
